<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="centered ion-no-padding">
              <img src="/assets/padlock.svg" id="logo">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding centered" id="title">
              unbreakable
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding centered" id="subtitle">
                little but strong
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row style="height: 300px;">
      <ion-col class="ion-no-padding centered">
      <app-login></app-login>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding centered">
        <ion-button>Lock</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>